# ignore everything
/*
/*/

# ...but these:
!/TODO.md
!/.settings
!/.alias
!/.inputrc
!/.gitignore
!/.gitprompt.csh
!/iterm2/
!/nvim/
/nvim/plugged/*
!/bin
!/README

# macOS
iterm2/AppSupport
nvim/nvim-osx64/
