# ignore everything
/*
/*/

# ...but these:
!/TODO.md
!/.zshrc
!/.gitignore
!/iterm2/
!/nvim/
!/oh-my-zsh/
/nvim/plugged/*
!/bin
!/zed/settings.json
!/.inputrc
!/utils/

# macOS
iterm2/AppSupport
nvim/nvim-osx64/
/utils/*.atom
/utils/*.pickle
