# Command line history completion by arrow keys
bindkey '\eOA' history-search-backward
bindkey '\e[A' history-search-backward
bindkey '\eOB' history-search-forward
bindkey '\e[B' history-search-forward
bindkey '^p' history-search-backward
bindkey '^P' history-search-backward
bindkey '^n' history-search-forward
bindkey '^N' history-search-forward
